<div class="main-container">
    <div class="reset-password-container">
        <span class="info">Reset password</span>
        <div class="input-field">
            <label for="password">Password <span class="astrisk">*</span></label>
            <input type="password" placeholder="Password" id="password" autocomplete="off">
        </div>
        <div class="input-field">
            <label for="confirmPassword">Confirm Password <span class="astrisk">*</span></label>
            <input type="password" placeholder="Confirm Password" id="confirmPassword" autocomplete="off">
        </div>
        <div class="footer">
            <button class="primary">Send</button>
        </div>
    </div>
</div>